ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

/* Month header */
.month {
    width: 100%;
    background: #bdceda;
    text-align: center;
    padding: 10px;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0px;
}

.month ul li {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 05px 0;
    /*background-color: */
    border: 1px solid #ddd;
}

.weekdays li {
    display: inline-block;
    width: 11.6%;
    color: #666;
    text-align: center;
    font-size: 14px;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border: 1px solid #eee;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 11px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}